.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input,
.textarea,
.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  min-height: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  padding: 10px;
  background-color: #488dc1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3b749f;
  transition: all 0.3s;
}
